.productsHeading {
  margin: 4vmax auto;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax "Roboto";
  text-align: center;
}

.products {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 0 5vmax;
  justify-content: center;
  min-height: 30vh;
  padding-top: 2.8rem;
}

.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: rgb(102, 115, 255);
}

.pageLinkActive {
  color: white;
}

.ProductsPage{
  position: relative;

}
.filterBox {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 6vmax;
  left: 20vmax;
  justify-items: center;
  align-items: center;
  font-family: "Lato";
}
.filter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem;
  width:10vmax;
}
.categoryBox {
  display: flex;
}

.category-link {
  padding: 0 1rem;
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  font: 400 0.8vmax "Roboto";
  cursor: pointer;
}
.category-link:hover {
  color: #78DEB9;
}



@media screen and (max-width: 600px) {
  .filterBox {
     width:fit-content;
  display: flex;
  flex-direction: column;
  position: static;
    margin: auto;

  }

  .page-link {
    font: 300 1.7vmax "Roboto";
  }
  .category-link {
    font: 400 1.8vmax "Roboto";
  }
}


/* products text style */


.products-text {
  position: relative;
  font-size: 3em !important;
  color: white;  /* Fallback color */
  
  /* Background for the regular state */
  background: linear-gradient(90deg, white, #78DEB9);
  background-clip:content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.products-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  /* Background for the hover state */
  background: -webkit-linear-gradient(90deg, #78DEB9, white);
  opacity: 0;

  /* Must repeat these to clip the pseudo-element */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* Smooth transition */
  transition: opacity 1s ease-in-out;
}

.products-text:hover::before {
  opacity: 1;
}

.products-text2 {
  position: relative;
  font-size: 6.5rem;
  color: white;  /* Fallback color */
   margin: 5vmax!important;
   font-weight: 700;
  /* Background for the regular state */
  background: linear-gradient(90deg, rgb(255, 255, 255), #6168f8);
  background-clip:content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.products-text2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  /* Background for the hover state */
  background: -webkit-linear-gradient(90deg, #78DEB9, white);
  opacity: 0;

  /* Must repeat these to clip the pseudo-element */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* Smooth transition */
  transition: opacity 1s ease-in-out;
}

.products-text2:hover::before {
  opacity: 1;
}
