.searchBox {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C070C;
  position: fixed;
  flex-direction: row;
  top: 0%;
  left: 0;
}

.searchBox > input[type="text"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background: #1a141a;
  border: none;
  color: whitesmoke;
  padding: 1vmax 2vmax;
  width: 50%;
  border-radius: 40px;
  outline: none;
  font: 300 1.1vmax Lato;
  box-sizing: border-box;
  height: 8%;
  margin-right:-5rem;
  border:1px solid #1e1a1e;
}

.searchBox > input[type="submit"] {
  height: 8%;
  width: 100%;
  background-color: rgb(109, 114, 255);
  border: 1px solid #2b262b;
  padding: 1vmax;
  border-radius: 50px;
  width: 10%;
  font: 300 1.1vmax "Lato";
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.searchBox > input[type="submit"]:hover {
  background-color: rgba(94, 99, 250, 0.881);
}

@media screen and (max-width: 600px) {
  .searchBox > input[type="text"] {
    width: 100%;
    font: 300 4vw cursive;
    height: 10%;
  }

  .searchBox > input[type="submit"] {
    height: 10%;
    width: 30%;
    font: 300 4vw "Lato";
  }
}
