.banner {
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.banner > h1 {
  margin: 2.5vmax;
  font-family: "Poppins";
  font-weight: 400;
}

.banner > p {
  font-family: "Poppins";
  font-weight: 600;
  
}
.scroll{
  position: absolute;
  bottom:-30px;
  text-decoration: none;

}


.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: transparent;
  border: 1.8px solid white;
  border-radius: 50px;
  padding: 1vmax 1.5vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Poppins";
}
.banner > a > button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(123, 128, 255);
}

.home{
  background: linear-gradient(to bottom, #0e0a0f,#0e0a0f);
      scroll-behavior: smooth;
      padding:1rem 0;
}
.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(218, 218, 218, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 3vmax auto;
  color: rgba(255, 255, 255, 0.88);
}

.container {
  display: flex;
  margin: 0vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}



.productCard:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
  .gradient-text{
    font-size: 1.5rem !important;
  }
.gradient-text2{
    font-size: 3rem!important;
    margin: 0.5vmax;
  }
  .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.gradient-text {
  position: relative;
  font-size: 7em;
  color: white;
  text-align: left;  
  white-space: nowrap;
  margin-left: 0;        
  padding-left: 0;
  
  /* Background for the regular state */
  background: linear-gradient(90deg, white, #78DEB9);
  background-clip:content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.gradient-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  /* Background for the hover state */
  background: -webkit-linear-gradient(90deg, #78DEB9, white);
  opacity: 0;

  /* Must repeat these to clip the pseudo-element */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* Smooth transition */
  transition: opacity 1s ease-in-out;
}

.gradient-text:hover::before {
  opacity: 1;
}

.gradient-text2 {
  position: relative;
  font-size:2.5rem;
  color: white;  /* Fallback color */
  /* Background for the regular state */
  background: linear-gradient(90deg, rgb(255, 255, 255), #6168f8);
  background-clip:content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-align: left;  
  white-space: nowrap;
  margin-left: 0;        
  padding-left: 0;
}

.gradient-text2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  /* Background for the hover state */
  background: -webkit-linear-gradient(90deg, #78DEB9, white);
  opacity: 0;

  /* Must repeat these to clip the pseudo-element */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* Smooth transition */
  transition: opacity 1s ease-in-out;
}

.gradient-text2:hover::before {
  opacity: 1;
}


/* ------------------------------------------------------------------------------ */

