* {
  margin: 0;
  padding: 0;
  outline: none;

}

.containers {
  width: 280px;
  height: 500px;
  margin: 2vmax 3vmax;
  font-family: "Rubik";
  text-decoration: none;
}

.card {
  border-radius: 25px;
  /* box-shadow: -10px 0px 9px rgb(227, 232, 255); */
  cursor: pointer;
}

.card-head {
  position: relative;
  height: 252px;
  background: #6168f8;
/* Old browsers */

background: -moz-linear-gradient(-45deg, #6168f8 8%, #b0afb8 83%);
/* FF3.6-15 */

background: -webkit-linear-gradient(-45deg, #6168f8 8%, #b0afb8 83%);
/* Chrome10-25,Safari5.1-6 */

background: linear-gradient(135deg, #6168f8 8%, #2c2947 83%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6168f8', endColorstr='#c82930', GradientType=1);

  border-radius: 25px 25px 0 0;
}
.back-text{
  color: rgba(134, 132, 236, 0.648);
}
.card-logo {
  width: 30px;
  margin: 20px;
  scale: 2;
  padding: 0.5rem 1rem;
}

.product-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 190px;
  width: auto;
  transform: rotate(-30deg);
  margin-top: -16px;
  margin-left: 50px;
  transition: all 0.3s ease;
  z-index: 2;
}

.product-img:hover {
  height: 200px;
  width: auto;
  scale:1.2;
  left:-30px;
  transform: rotate(-40deg);
  z-index: 22;
}

.product-detail {
  padding: 0 20px;
  font-size: 11px;
  color: #fff;
}

.product-detail h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.back-text {
  display: inline-block;
  font-size: 125px;
  font-weight: 900;
  margin-left: -7px;
  margin-top: -12px;
  opacity: 0.1;
}

.card-body {
  height: 255px;
  background: #0f0c0f;
  border-radius: 0 0 25px 25px;
  border:1px solid #2b262b;
  color: #b0afb8;
}

.product-title {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: black;
  background: #d2ff85;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.product-rating > span{
  padding:10px 3px;
}

.product-size h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ul-size {
  margin-left: 15px;
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-size li a {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: whitesmoke;
}

.ul-size li a.active {
  background: #d2ff85;
  color: black;
}

.product-size:before,
.product-size:after {
  content: '';
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.ul-color {
  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li a.orange {
  background: #f35e3d;
}

.ul-color li a.green {
  background: #11e95b;
}

.ul-color li a.yellow {
  background: #ffd414;
}

.ul-color li a.active:after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 1px solid #f35e3d;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}

.product-price {
  min-width: 4.5vmax;
  position: absolute;
  background: #6168f8;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 18px;
  margin-top: -20px;
  margin-left: -2px;
}

.product-price b {
  margin-left: 5px;
}



.yt
{
  position: fixed;
  padding:7px 10px 3px 10px;
  top: 5px;
  right: 5px;
  background: rgba(0,0,0,0.1);
}

.yt:hover
{
  background: rgba(0,0,0,0.2);
}

@media screen and (max-width:600px) {
  .product-img{
    height:150px;
    width: max-content;
    overflow-x: hidden;
  }
  .product-img:hover{
    scale:1.000001;
    left: -72px;
  }
  .product-price {
    font-size: 1.2rem;
    min-width: 4.5rem;
  }
}