.CartItemCard {
  display: flex;
  padding: 1vmax;
  height: 8vmax;
  align-items: flex-start;
  box-sizing: border-box;
}
.CartItemCard > img {
  width: 5vmax;
}

.CartItemCard > div {
  display: flex;
  margin: 0.3vmax 1vmax;
  flex-direction: column;
}

.CartItemCard > div > a {
  width: fit-content;
  font: 300 1vmax "Poppins" ;
  color: rgba(24, 24, 24, 0.815);
  text-decoration: none;
}

.CartItemCard > div > span {
  width: fit-content;
  font: 300 0.9vmax "Poppins";
  color: rgba(24, 24, 24, 0.815);
}

.CartItemCard > div > p {
  width: fit-content;
  color: tomato;
  font: 100 0.8vmax "Poppins";
  cursor: pointer;
}

.cartIcons{
  display: flex;
  padding: 6px 0;
  height: 2rem;
  color: tomato;
  font: 100 1vmax "Poppins";
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.cartIcons > p{
  padding-right:1rem;
}
@media screen and (max-width: 600px) {
  .CartItemCard {
    padding: 2vmax;
    height: 15vmax;
  }
  .CartItemCard > img {
    width: 10vmax;
  }

  .CartItemCard > div {
    margin: 1vmax 1vmax;
  }

  .CartItemCard > div > a {
    font: 300 1.6vmax "Lato";
    width:100%;
  }

  .CartItemCard > div > span {
    font: 300 1.5vmax "Lato";

  }

  .CartItemCard > div > p {
    font: 100 1.8vmax "Lato";
  }
  .cartIcons > p > svg{
    size: 50px;
  }
}
