/* Your global styles, reset, and other styles go here */

.Forgotpasswordbg {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0e0a0f,#0e0a0f);
}
.glassmorphismBackground{
  background: url("../../images/ball.png") no-repeat fixed;
  background-size:45rem; /* Text color for dark theme */
  background-position-x:37rem;
  background-position-y: 15rem;

}
.forgotPasswordForm{
  background: none; /* Glassmorphism blur effect */
  color: white;
}
.glassmorphismContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1); /* Dark background with transparency for glassmorphism * /* Glassmorphism blur effect */
}

.forgotPasswordContainer {
  background: rgba(255, 255, 255, 0.01); /* Glassmorphism background color with transparency */
  border-radius: 10px;
  backdrop-filter: blur(20px);
  padding: 20px;
  min-height:25vmax;
  border:1px solid #2b262b;
  min-width: 35vmax; /* Glassmorphism shadow effect */
}

.forgotPasswordBox {
  text-align: center;
}

.forgotPasswordHeading {
  font: 400 4rem "Poppins";
  color: #fff; /* Text color for dark theme */
  padding-top:5rem;
}
.forgotPasswordparam {
  padding-bottom: 7vmax;
  color: #fff; /* Text color for dark theme */
  text-align: center;
  text-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0rem 2rem;
  padding: 1rem;
  padding-bottom: 3rem;
}
h2{
  padding-bottom: 0!important;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgotPasswordEmail {
  display: flex;
  width: 100%;
  align-items: center;
  background: rgba(255, 255, 255, 0.2); /* Input background with transparency */
  border-radius: 10px;
  margin: 10px 0;
  padding-left: 6px;
  color: honeydew;
}

.forgotPasswordEmail input {
  border: none;
  background: transparent;
  color: black; /* Text color for dark theme */
  margin-left: 10px;
  
}

.forgotPasswordBtn {
  background-color:#8f7dff;
  color: white;
  width: 100%;
  padding: 0.7vmax 0;
  border: none;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 0.5vmax;
  font: 400 1vmax "Roboto";
  transition: background-color 0.3s;
  border-radius: 10px;
}

.forgotPasswordBtn:hover {
  background-color: #7b67fee8;
}


@media screen and (max-width: 600px) {
  .forgotPasswordContainer {
    background-color: white;
  }
  .forgotPasswordBox {
    width: 100vw;
    height: 95vh;
  }

  .forgotPasswordForm {
    padding: 5vmax;
  }

  .forgotPasswordForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .forgotPasswordForm > div > svg {
    font-size: 2.8vmax;
  }

  .forgotPasswordBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
