.profileContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  max-width: 100%;
  background-color: #0C070C;
}

.profileContainer > div {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileContainer > div:first-child > h1 {
  font: 500 2.2vmax "Poppins";
  color: aliceblue;
  transform: translateX(-11vmax) translateY(-5vmax);
}

.profileContainer > div:first-child > img {
  width: 20vmax;
  border-radius: 100%;
  transition: all 0.5s;
  height: auto;
}

.profileContainer > div:first-child > img:hover {
  transform: scale(1.05);
}

.profileContainer > div:first-child > a {
  border: none;
  background-color: #b0a3ff;
  font: 500 1.1vmax "Poppins";
  color: #0C070C;
  text-decoration: none;
  padding: 1vmax 2vmax;
  width: 40%;
  margin: 4vmax;
  text-align: center;
  transition: all 0.5s;
  border-radius: 50px;
}

.profileContainer > div:first-child > a:hover {
  background-color: #d2ff85;
}

.profileContainer > div:last-child {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5vmax;
  box-sizing: border-box;
}

.profileContainer > div:last-child > div > h4 {
  color: rgb(255, 255, 255);
  font: 400 1.4vmax "Poppins";
}

.profileContainer > div:last-child > div > p {
  color: rgba(255, 255, 255, 0.418);
  font: 400 1vmax ;
  margin: 0.2vmax;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.profileContainer > div:last-child > div:last-child > a {
  border: none;
  background-color: #b0a3ff;
  font: 500 1vmax "Poppins";
  color: black;
  text-decoration: none;
  padding: 0.7vmax;
  text-align: center;
  transition: all 0.5s;
  margin: 1vmax 0;
  border-radius: 50px;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: #d2ff85;
}




@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }

  .profileContainer > div:first-child > h1 {
    font: 500 3.2vmax "Poppins";
    transform: translateY(-2vmax);
  }

  .profileContainer > div:first-child > a {
    font: 400 1.7vmax "Poppins";
    padding: 1vmax;
  }

  .profileContainer > div:last-child {
    text-align: center;
    align-items: center;
  }

  .profileContainer > div:last-child > div > h4 {
    font: 400 2.5vmax "Poppins";
  }

  .profileContainer > div:last-child > div > p {
    font: 400 2vmax ;
    margin: 0.5vmax 0;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font: 400 1.8vmax "Poppins";
    padding: 1vmax;
    margin: 2vmax 0;
  }
}


